   .attribution { font-size: 0.9rem; text-align: center; }
    .attribution a {
			color: hsl(228, 45%, 44%); 
			text-decoration:none;
			font-size:1rem;
			color:
		}
		
		body{
			margin:0;
		}
		body{
		  user-select: none;
		}
		
		#top{
		  padding:2rem;
			background-image:URL('./images/mobile/image-header.jpg');
			background-size:100% 100%;
			height: 82vh;
			background-repeat:no-repeat;
			
		}
		
		#nav{
		  dispay: grid;
		  grid-template-columns:auto auto;
			padding:1rem 0;
		 		
		}#hamburger{
			float:right; 
		}

		.magic{
			position: absolute;
			z-index:2;
			top:7rem;
			left:9%;
      width:82%;
      background-color: white;
      height:auto;
			display:grid;	
			place-items:center;
			
			visibility: hidden;
			transition:all 300ms ease-in-out;
			opacity:0;
		}		
    .visible{
        visibility: visible;
				opacity:1; 
				
			}
    #links-ul li{
      display: block ;
      padding: 10% 2rem;
      text-align: center;
			font-size:1.2rem;
			letter-spacing:1px;
			
			font-weight:bold;
			opacity:0.5;
			transition:all 200ms ease-in-out;
			border-radius:99px;
			
    }
		#links-ul li:hover{
			background-color:yellow;
			
			opacity:1;

		}
    
		#links-ul::before{
		  content: "";
		  position:absolute;
		  bottom:100%;
		 	right:0; 
		  border-left: 1.5rem solid transparent;
		  border-bottom: 1.5rem solid white;
	
		  
		}
		#top-two{
			position:relative;
			width:100%;
			top:2rem;
			font-size:1.3rem;
			text-transform:uppercase;
			text-align:center;
			letter-spacing:0.5rem;
			color:white;
			display:grid;
			grid-template-rows:auto auto;
			place-items:center;
			grid-gap:1.5rem;
		}
		
		
		
		#two-explain{
			display:grid;
		
		}
	
		#two-explain img{
		  
			width:100vw;
		}

		#teone-textarea, #tetwo-textarea{
			padding:4rem;
			text-align:left;	
			height:27rem;	
		}
		#teone-textarea p, #tetwo-textarea p{
			padding-bottom:2rem;	
		}
		#teone-textarea h1 ,#tetwo-textarea h1{
			
			font-size:2rem;
			margin:1.5rem 0;
		}
		
		#learn-more1,#learn-more2{
			width:11rem;	
			text-align:center;	
			font-size:1.5rem;
			font-family:"noto sans";
		}
		#learn-more1 h4, #learn-more2 h4{
			text-transform:uppercase;
			font-weight:bold;
			margin:0;
		}
		#learn-more1 hr, #learn-more2 hr{
			z-index:-1;
			opacity:0.5;	
			margin:0;
			border:0;
			height:0.9rem;
			position:relative;
			border-radius:10px;
			bottom:0.8rem;
			transition: all 300ms ease-in-out;
		}




		#two-demo{
			display:grid;
			grid-template-rows:auto;
			place-items:center;
		}

		#tdone{
			height:40rem;	
			background-image:URL("./images/mobile/image-graphic-design.jpg");
			background-size:cover;
			background-repeat:no-repeat;
		}
		#tdtwo{
			height:40rem;
			background-image:URL("./images/mobile/image-photography.jpg");
			background-size:cover ;
			background-repeat:no-repeat;
		}
		#tdone section,#tdtwo section{
			text-align:center;
			position:relative;
			top:67%;
		}
		#two-demo h2{
			margin:0;
			padding:0;
			border:0;
		}

		#clients{
			padding:1rem;
			display:flex;
			flex-direction:column;
			align-items:center;
			text-align:center;
		}
		#clients h3{
			margin:2.1rem 0;
			text-transform:uppercase;
			letter-spacing:3px;
			opacity:0.6;
		}

		#clients img{	
			width:6rem;
			border-radius:99px;	
		}
		#client-one,#client-two,#client-three{
			margin:1.7rem;
		}

		#gallery{
			display:grid;
			grid-template-columns:50vw 50vw;
		}
		#gallery img{
			width:50vw;
		}

		#bottom-work{
			background-color:#90d4c5;
		}
		li{
			text-decoration:none;
			list-style-type:none;
			display: inline;
		
		}
		ul{
		  padding: 0;
			
		}
		#bottom-work{
			padding:2rem;
			height:25rem;
			display:grid;
			grid-template-columns:auto;
			place-items:center;
			align-content:center;
			grid-gap:2.5rem;
		}
		#logo{	
			width:15rem;
					
		}
		#links-down{
			width:100%;
			padding:1rem;
			display:grid;
			grid-template-columns:auto auto auto auto;
			justify-content:center;
		}
		#links-down li{
			padding:1rem;
			font-size:1.2rem;
			font-size:bold;
		}
		#links-down li:hover{
			color:white;
		}

		#botton-down{
			
			width:100%;
			display:grid;
			padding:1.5rem;
			grid-template-columns:auto auto auto auto;
			justify-content:center;
			grid-gap:2.5rem;
		}
		

		@media(min-width:790px){
			#top{
				height:42rem;
				background-image:URL(./images/desktop/image-header.jpg);
			}
			#top-two{
				top:17%;
			}
			#hamburger{
				display:none;
			}
			#nav{
				float:left;
			}
			.magic{
				position: relative;
				float:right;
			z-index:2;
			top:0;
			left:0;
      width:60%;
      background-color: transparent;
      height:auto;
			display: inline;
			visibility: visible;
					opacity:1;
			}
			#links-ul{
				text-align:right;
			}
		 #links-ul li{
      display: inline ;
      padding: 0.6rem;
      text-align: center;
			font-size:1.2rem;
			letter-spacing:1px;
			margin:0.5rem;	
			font-weight:bold;
			color:white;
			transition:all 200ms ease-in-out;
			border-radius:99px;
			opacity:1;

			
    }
		#links-ul::before{
			display:none;
		}
		#links-ul li:hover{
			background-color:#1111;

		}

		#teone{
			display: flex;
			flex-direction:row;
			width:100vw;
			
		}
		#two-explain img{
			width:50vw;
			
		}
		#tetwo{
			display: flex;
			flex-direction:row-reverse;
		}
		#two-demo{
			display:grid;
			grid-template-columns:50% 50%;
		}
		#tdone{
			height:35rem;
			background-image:URL("./images/desktop/image-graphic-design.jpg");
			background-size:100% 100%;	
		}

		#tdtwo{
			height:35rem;
			background-image:URL("./images/desktop/image-photography.jpg")
			background-size:100% 100%;
		}
		#two-demo section{
			padding:0 6rem;
		}

		#clients section{
			padding: 0 3rem;
			display:flex;
			flex-direction:row;
		}
		#gallery{
			width:100vw;
			display:flex;
			flex-direction:row;
		}
		#gallery img{
			width:50%;

		}

		
		}

